# .gitignore actualizado
__pycache__/
*.swp
venv/
.env

# Ignorar Outputs y Logs
exec/
logs/
*.log

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

!data/corpus_ejemplo.txt  # Mantener el ejemplo