# .gitignore actualizado
__pycache__/
*.swp
venv/
.env

# Ignorar Outputs y Logs
exec/
logs/
*.log

# Ignorar Datos (Solo subir ejemplos o templates)
data/raw/
data/processed/
!data/corpus_ejemplo.txt  # Mantener el ejemplo